always-auth=true
@gcc:registry=https://proget.blinds.com/npm/gcc/
//proget.blinds.com/npm/gcc/:_authToken=EdVkXng0dWTDEKSpAeOr
@thd:registry=https://proget.blinds.com/npm/thd/
//proget.blinds.com/npm/thd/:_authToken=EdVkXng0dWTDEKSpAeOr
@thd-olt-global:registry=https://npm.artifactory.homedepot.com/artifactory/api/npm/npm/